---
// Component imports
import { Layout } from "@globals"
import { DB } from "src/db"
if (!Astro.cookies.has("usuario")) {
  // redirect using Response
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/iniciar-sesion"
    }
  })
}
const { value } = Astro.cookies.get("usuario")
const usuario: Usuario = JSON.parse(value)

if (!Boolean(usuario.es_admin)) {
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/"
    }
  })
}

const mascotas = await DB.obtenerMascotasDisponibles()
---

<Layout title="Eliminar mascota" bg="/5.png">
  <section>
    <h1>Eliminar mascota</h1>
    <div class="contenedor">
      <table>
        <thead>
          <tr>
            <th>Foto</th>
            <th>Color</th>
            <th>Raza</th>
            <th>Tamaño</th>
            <th>Selección</th>
          </tr>
        </thead>
        <tbody>
          {
            mascotas.length > 0 ? (
              mascotas.map((mascota) => {
                return (
                  <tr>
                    <td>
                      <img src={mascota.url_imagen} alt={mascota.nombre} />
                    </td>
                    <td>{mascota.color}</td>
                    <td>{mascota.raza}</td>
                    <td>{mascota.tamaño}</td>
                    <td>
                      <button data-id={mascota.id_mascota}>Eliminar</button>
                    </td>
                  </tr>
                )
              })
            ) : (
              <tr>
                <td colspan="5">No hay mascotas disponibles</td>
              </tr>
            )
          }
        </tbody>
      </table>
    </div>
    <footer>
      <a href="/" class="btn menu">Menu principal</a>
      <a href="/solicitudes" class="btn comunidad">Solicitudes de adopcion</a>
    </footer>
  </section>

  <script>
    // @ts-nocheck
    const botones = document.querySelectorAll("button")
    botones.forEach((boton) => {
      boton.addEventListener("click", async (e) => {
        const id = e.target.dataset.id
        const res = await fetch(`/api/mascotas`, {
          method: "DELETE",
          body: JSON.stringify({ id })
        })
        const data = await res.json()
        if (data.ok) {
          window.location.reload()
        } else {
          alert("Ocurrio un error")
        }
      })
    })
  </script>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    justify-content: space-around;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  tr th {
    background-color: var(--amarillo);
    padding: 0.5em 1em;
    border: solid 2px #fff;
    color: #000;
  }

  tbody tr {
    opacity: 0.8;
    background-color: #fff;
    padding: 0.5em 1em;

    color: #000;
  }
  tbody tr td {
    border: solid 3px var(--rosa-claro);
  }

  td img {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer a {
    padding: 1em !important;
    font-size: 0.85em !important;
  }

  .menu {
    color: #fff;
  }

  .comunidad {
    background-color: var(--verde);
    color: #fff;
  }
</style>
