---
// Component imports
import { Layout } from "@globals"
import { DB } from "src/db"
if (!Astro.cookies.has("usuario")) {
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/iniciar-sesion"
    }
  })
}

const mascotas = await DB.obtenerMascotasDisponibles()
---

<Layout title="Mascotas" bg="/7.jpg">
  <section>
    <header>
      <h1>Mascotas</h1>
      <nav>
        <button onclick="history.back()">
          <img src="/back.svg" alt="back icon" />
        </button>
      </nav>
    </header>

    <div class="contenedor">
      <table>
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Tamaño</th>
            <th>Opcion</th>
          </tr>
        </thead>
        <tbody>
          {
            mascotas.length > 0 ? (
              mascotas.map((mascota) => {
                return (
                  <tr>
                    <td>
                      <img src={mascota.url_imagen} alt="Perro" />
                    </td>
                    <td>{mascota.nombre}</td>
                    <td>{mascota.color}</td>
                    <td>{mascota.raza}</td>
                    <td>
                      <a href={`/adopcion?id_mascota=${mascota.id_mascota}`}>
                        Seleccionar
                      </a>
                    </td>
                  </tr>
                )
              })
            ) : (
              <tr>
                <td colspan="5">No hay mascotas disponibles</td>
              </tr>
            )
          }
        </tbody>
      </table>
    </div>
    <div class="otros">
      <a href="/" class="btn menu">Menu principal</a>
      <a href="/adopcion" class="btn contacto">Adopcon</a>
    </div>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  tr th {
    background-color: var(--amarillo);
    padding: 0.5em 1em;
    border: solid 2px #fff;
    color: #000;
  }

  tbody tr {
    opacity: 0.8;
    background-color: #fff;
    padding: 0.5em 1em;
    color: #000;
  }
  tbody tr td {
    border: solid 3px var(--rosa-claro);
  }

  tr > td:nth-child(5) a {
    color: rgb(0, 0, 0);
  }

  td img {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .otros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .otros a {
    padding-inline: 1em;
    color: var(--blanco);
  }
  .contacto {
    background-color: var(--verde) !important;
  }
  .menu {
    background-color: var(--azul) !important;
  }
</style>
